@import './variables.scss';

.container-public{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo{
    width: 40%;
    margin-bottom: 50px;

    img{
      width: 100%;
    }
  }

  form {

    .input-public{
      padding-top: 10px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      border-bottom: 1px solid $cinza2;      

      &.focus{
        border-bottom-color: $corPrimaria3;
      }
    }

    button {
      margin-top: 20px;
    }
  }

}