$fontRegular: 'UbuntuRegular';
$fontLight: 'UbuntuLight';
$fontBold: 'UbuntuBold';

$corPrimaria: #083C9B;
$corPrimaria2: #3826CB;
$corPrimaria3: #0FA7BC;
$corPrimaria4: #E4E1FC;
$corPrimaria5: #86A6E1;
$corPrimaria6: #958BE4;

$branco: #FFFFFF;

$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;
$cinza5: #E5E5E5;

$vermelho: #FF0000;
$success: #009600;

$desktopBreakpoint: 760px;